################################
## GENERAL
################################
NODE_ENV=local/development/production
HOST=0.0.0.0
PORT=1337
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=

################################
## DATABASE
################################
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=""
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_SSL=false